:root{
    --ball-size-100: 100px;
    --body-bg-color: #011212;
    --ball-bg-color: #ff8800;
    --ball-border-radius: 50px;
}

body {
    background-color: var(--body-bg-color);
}

.ball {
    width: var(--ball-size-100);
    height: var(--ball-size-100);
    background-color: var(--ball-bg-color);
    border-radius: var(--ball-border-radius);
}
