:root{
    --card-width: 23rem;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: max-content;
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    place-items: center;
    padding: 1rem;
}

.bold{
    font-weight: 600;
}

.card{
    flex-shrink: 0;
    background: rgb(213,213,213);
    background: linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(236,236,236,1) 100%); 
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 100%;
}

.card__header{
    display: flex;
    background: rgb(116,116,119);
    background: linear-gradient(90deg, rgba(116,116,119,1) 0%, rgba(156,161,162,1) 100%); 
    padding: 0.3rem .5rem;
}

.card__header__cat{
    display: flex;
    
    gap: .7rem
}

.card__header__cat__avatar{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.card__header__cat__data{
    padding-top: .3rem;
}

.card__header__cat__data__date{
    color: white;
    font-size: 0.95rem;
}

.card__header__dots{
    margin-left: auto;
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.card__image{
    background-image: url(https://placekitten.com/400/400);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: var(--card-width);
}

.card__footer{
    display: flex;
    flex-direction: column;
    padding: 1rem .7rem 2rem .7rem;
}

.card__footer__icons{
    height: 2rem;
    line-height: 2rem;
    margin-bottom: .4rem;
    padding-left: 1rem;
}

.card__footer__icons > i{
    font-size: 1.2rem;
    margin-right: .4rem;
}

.card__footer_text{
    text-align: justify;
}

@media screen and (min-width: 768px) {
    body{
        grid-template-columns: repeat(3, 1fr);
        
    }

    .card{
        max-width: 23rem;
    }
}


@media screen and (max-width:768px) and (min-width: 375px) {
    body{
        grid-template-columns: 1fr 1fr;
        
    }


}

@media screen and (max-width: 375px) {

    body{
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding-top: 1rem;
    }


    
}