*{
    margin: 0;
    padding: 0;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #212428;
}

nav{
    background-color: #212428;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid white;
}

@media screen and (min-width: 765px) {
    

    #hamburgerMenu{
        display: none;
    }

    ul{
        display: flex;
        list-style: none;
        width: calc(100vw/2);
        justify-content: space-evenly;
        align-items: center;
    }

    ul h3{
        color: white;
    }

    #home{
        font-weight: 600;
        color: white;
    }

    select{
        background-color: transparent;
        border: none;

    }

    a, select{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: rgb(185, 185, 185);
        text-decoration: none;
    }

    p{
        color: #525353;
    }

    #search{
        height: 70%;
        border-radius: 5px;
        border: none;
        padding: none;
        padding-left: 20px;
    }

    #submit_search{
        background-color: transparent;
        border: 1px solid rgb(12, 121, 48);
        width: 70px;
        height: 70%;
        color: rgb(12, 121, 48);
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;
        transition: .35s ease;
    }

    #submit_search:hover{
        background-color: rgb(12, 121, 48);
        color: white;
    }

    #searchUi{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-right: 15px;
    }

}

@media screen and (max-width: 765px) {
    nav{
        padding-left: 10px;
    }

    nav>*{
        display: none;
    }

    #hamburgerMenu{
        cursor: pointer;
        display: block;
        color: white;
        height: 100%;
    }
    #hamburgerMenu>svg{
        height: 100%;
    }
    #hamburgerMenu>path{
        height: 100%;
    }
}




