*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

section > img{
    width: 50px;
}

section{
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(128, 128, 128, 0.068);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin-top: 60px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 40%;
    gap: 50px;
    align-items: center;
    list-style: none;
}

a{
    color: #2b2b2b;
    text-decoration: none;
    transition: .3s;
}

a:hover{
    color: #2b2bb2;
}

.user>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

